<div class="container-fluid footer1">
          <div class="row">
            <div class="col-md-12  col-12  d-flex justify-content-center  bg-success">
              <p>This is created by csy</p>
            </div>

          </div>

        </div>